.isoft-image{
     height: 60px;
     width: 180px
}
 .first-section{
    background: url('../Assets/Vector\ 1.svg');
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
 }
  .dropdown-toggle-split{
   margin-top: 10px;
  }
 .getQuote{
    width: 150px;
   border: 1px solid #c10017 !important;
 }
 .getQuote:hover{
   background-color: #c10017 !important;
   color: white !important;
   border: none;
 }
 .image-prevew{
    height: 750px;
    width: 550px;
 }
 .second-section{
   background: url('../Assets/Rectangle\ 132.svg');
   background-position: center;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .vector-image{
   margin-right: 85px;
 }
 .interfere-heading{
    margin-left: 75px;   
 }
 .first-border{
   border-bottom: 6px solid #14A0C0;
}
.second-border{
   border-bottom: 6px solid rgba(125, 227, 20,1);
}
.third-border{
   border-bottom: 6px solid #14A0C0;
}
.key-text{
   text-align: start;
}
.main-border{
   border-bottom: 5px solid red;
   width: 120px;
   margin-left: 270px;
}
.frame-image{
   height: 600px;
   width: 600px;
}

.third-section{
   background: url('../Assets/Rectangle\ 110.png');
   background-position: center;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
}
 .first-image{
   margin-bottom: 15px;
 }
 .second-image{
   margin-top: 25px;
 }
 .offer{
   margin-top: 10px;
   margin-left: 800px;
   // margin-right: 20px;
 }
 .offer-span{
   border-bottom: 8px solid red;
 }
.shadowl-heading{
   background-color: white;
   outline: red;
   height: 40px;
   border: 1px solid red;
   border-radius: 10px;
}
.shadowl-heading:hover{
   background-color: red;
   color: white;
}
.first-container{
    width: 440px;
    margin: 100px 0 0 110px;
}
.second-container{
   margin: 15px 0 0 110px;
}
.third-container{
   margin: 150px 110px 0 0 ;
}
.keyValues{
   border-bottom: 8px solid red;
}
.webDevelopment{
   padding-left: 113px;
   margin-top: 20px;
}

.grid-container{
   padding-left: 70px;
}

.learnMore-container{
   margin: 80px 0 0 0 ;
}

.learnMore-button{
   width: 150px;
   color: white !important;
background-color: #c10017 !important;
margin-bottom: 20px;
}
.ui-heading{
   border-bottom: 5px solid black;
   width: 60%;
   text-align: center;
   margin-left: 90px;
   padding: 10px;
   margin-bottom: 20px;
}

.ui-headings{
   border-bottom: 5px solid black;
   width: 80%;
   // text-align: center;
   margin-left: 40px;
   padding: 10px;
   margin-bottom: 20px;
}
 
 
.backg-image{
   background-image: url('../Assets/Rectangle\ 46.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.tools-heading{
   border-bottom: 10px solid red;
}
.awards-heading{
   border-bottom: 10px solid red;
}
.awardBgColor{
   background-color: #F3F3F3;
}
// portfolio page styling 
.portfolio-heading{
   border-bottom: 10px solid red;
}

.bg-1{
   background: #EFEFEF;
}
.bg-2{
   background: #E3E2E2;
}
.bg-3{
   background: #EFEFEF;
}
.bg-4{
   background: #E3E2E2;
}
.bg-5{
   background: #EFEFEF;
}
.bg-6{
   background: #E3E2E2;
}
.bg-7{
   background: #EFEFEF;
}
.bg-9{
   background: #E3E2E2;
}
.bg-10{
   background: #EFEFEF;
}
.bg-11{
   background: #E3E2E2;
}
.bg-12{
   background: #EFEFEF;
}
.bg-13{
   background: #E3E2E2;
}
.bg-14{
   background: #EFEFEF;
}
.bg-15{
   background: #E3E2E2;
}
.bg-16{
   background: #EFEFEF;
}
 
.projects-button{
   background-color: #c10017;
   border-radius: 10px;
   border: none;
   height: 40px;
   width: 110px;
   float: right;
   margin-top: 40px;
}
.projects-button1{
   background-color: #c10017;
   border-radius: 10px;
   border: none;
   height: 40px;
   width: 110px;
   float: left;
   margin-top: 40px;
}
.triangle-background{
   background: #F0EFEF;
}
.engagement-heading{
   border-bottom: 10px solid red;
}
 
// 

// caree page styling 

.careebgImg{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

}
 

.work-heading{
   border-bottom: 10px solid #C10017;
}
.sn1{
   text-align: center;
   margin-bottom: 35px;
}

.work-para{
text-align: center;
}


.career-email{
   color: firebrick;
}

.sn-3{
   text-align: center;
   margin-top: 20px;
}

.sn-4{
   border-bottom: 10px solid firebrick;
}
.sn-5{
   display: flex;
   justify-content: center;
}


.bgcareer{
  background: #F1F1F1;
}

.sn-7{
   text-align: center;
}
.f1-container{
width: 1180px;
height: 72px;
margin-bottom: 15px;

}
.details-button{
   height: 30px;
   width: 80px;
   border: 1px solid black;
   border-radius: 10px;
   margin-left: 5px;
 

}

.apply-button{
   height: 30px;
   width: 110px;
   border: 1px solid black;
   border-radius: 10px;
   margin-left: 5px;
 

}
.sn-9{
   display: flex;
   align-items: center;
}
.buttonss{
   float: right;
}

.fn-1{
   border-bottom: 2px solid #646464;
}
// 


//  junior page styling
.rails-title{
   border-bottom: 1px solid #646464;
}

.ror-junior{
   margin-bottom: 30px;
}
.job-details{
   height: 70px;
   width: 650px;
   // background-color: #14A0C0;
   margin-top: 7px;
 border-bottom: 2px solid #646464;
}

.job-position{
   margin-left: 200px;
}

.qualification-detail{
   margin-left: 165px;
}

.experience-details{
   margin-left: 180px;
}
.open-positions{
   margin-left: 150px;
}
.job-description{
   margin: 20px;
   font-weight: bolder;
}

.description-details{
   margin-left: 30px;
   margin-top: 10px;
}

.main-boder{
   border: 1px solid #646464;
   border-radius: 10px;
   padding: 10px;
}
.work1{
   width: 650px;
   text-align: center;
   margin-left: 350px;
   margin-top: 10px;
}

.b-positions{
   background-color: white;
   outline: red;
   height: 40px;
   border: 1px solid red;
   border-radius: 10px;
}
.b-positions:hover{
   background-color: red;
   color: white;
}

.contact-heading{
   border-bottom: 8px solid #C10017;
}

.shadowl-cheading{
   background-color: white;
   outline: red;
   height: 40px;
   border: 1px solid red;
   margin-top: 25px;
   border-radius: 10px;
}
.shadowl-cheading:hover{
   background-color: red;
   color: white;
}


 /// contact page
.bg-contact{
   background-color: #F5F5F5;
}
.cs-1{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cs-2{
   border-bottom: 8px solid #C10017;
}
.first-column{
   position: relative;
}
.second-column{
   position: relative;
}

.contact-image{
   height: 250px;
   width: 250px;
   display: table-column;
   margin-left: 185px;
}
.column-content1{
   position: absolute;
   left: 50%;
   top: 50%;
   padding-top: 10px;
}
.column-content2{
   position: absolute;
   left: 12%;
   top: 50%;
   padding-top: 10px;
}
.contact-image1{
   height: 250px;
   width: 250px;
   display: table-column;
}
 .map-section{
   background: #BDBDBD;
 }
.join-now{
   background: #C10017;
   height: 50px;
   width: 120px;
   border-radius: 10px;
margin-left: 500px;
border: none;
}
.contact-parent{
   display: flex;
   align-items: center;

}

 .About-first-section{
   margin: 20px;
 }

 .About-third-section{
   background: url("../Assets/About-Assets/about-background.svg");
   background-repeat: no-repeat;
   background-size: cover;
 }
 .isoftstu{
   border-bottom: 8px solid #C10017;
 }
 .about-first-container{
   border-bottom: 2px solid #646464;
 }

 .about-second-container{
   border-bottom: 2px solid #646464;
   margin-left: 15px;
 }

 
 .About-fourth-section{
   background: #E8E8E8;
 }

 .career-banner{
   background: url('../Assets/caree-Assets/Rectangle90.svg');
   // background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 80vh;
   width: 100%;
   position: relative;
   object-fit: contain;
 }

 .career-1banner{
   background: #14A0C0;
   position: absolute;
   left: 650px;

 }

 .st-1:hover{
   color: white;
   background-color: #1487E3;
 }

 .st-2:hover{
   color: white;
   background-color: #9B5C8F;
 }

 .st-3:hover{
   color: white;
   background-color: #F37B20;
 }

 .st-4:hover{
   color: white;
   background-color: #595BD4;
 }

 .st-5:hover{
   color: white;
   background-color: #34A853;
 }

 .st-6:hover{
   color: white;
   background-color: #D85B53;
 }

 .st-7:hover{
   color: white;
   background-color: #D8A353;
 }

 .st-8:hover{
   color: white;
   background-color: #FF4081;
 }

 .st-heading{
   padding-top: 10px;
 }

//  footer section 

.footer-section{
   background-color: #C7C6C6;
   margin-top: -15px;
}

.message-box{
   height: 100px;
   width: 520px;
   background-color: #C7C6C6;
   border: 1px solid black;
}

.input-box{
   background-color: #C7C6C6;
   border: 1px solid black;
}

.radio-button{
   background-color: #C7C6C6;
}

.submit-button{
   height: 40px;
   width: 110px;
   color: white;
   background:  #C10017;
   border-radius: 10px;
   border: none;
}


.submit-button-container{
   margin-top: 25px;
}

.ws1{
       width: 230px;
}

.ws2{
   width: 300px;
   margin-left: 10px;
}

.mws{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.application-button{
   height: 40px;
   width: 130px;
   background-color: #C10017;
   color: white;
   border: none;
   border-radius: 15px;
   margin-top: 15px;
}

.tany-text{
   color: #C10017;
}

.footer-sec{
   height: 80px;
   background-color: black;
   color: white;
}

.footer-content-container{
   display: flex;
   text-align: center;
}

.careerbg-image{
   background: url('../Assets/caree-Assets/Rectangle90.svg');
   background-repeat: no-repeat;
   background-size: cover;
width: 1351px;
height: 460px;
}


.caree-first-section{
   height: 220px;
   width: 420px;
   float: right;
   margin: 50px 40px 0 0;
   // margin-right: 40px;
   // margin-top: 50px;
}