.isoft-image{
     height: 60px;
     width: 180px
}
 .first-section{
    background: url('../Assets/Vector\ 1.svg');
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
 }
 .creative-container{
    margin-top: 190px;
 }
 .agency-heading{
  float: left;
  margin-left: 210px;
 }
 .agency-headings{
    float: left ;
    margin: 11px 0 0 210px;
 }
 .creative-headings{
   margin: 50px 0 0 113px;
    font-size: 19px;
 }
 .getQuote{
   margin: 80px 0 0 220px;
    width: 150px;
 }
 .image-prevew{
    height: 750px;
    width: 550px;
 }
 .second-section{
   background: url('../Assets/Rectangle\ 132.svg');
   background-position: center;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .vector-image{
   margin-right: 85px;
 }
 .interfere-heading{
    margin-left: 75px;   
 }
 .first-border{
   border-bottom: 6px solid #14A0C0;
}
.second-border{
   border-bottom: 6px solid rgba(125, 227, 20,1);
}
.third-border{
   border-bottom: 6px solid #14A0C0;
}
.key-text{
   text-align: start;
}
.main-border{
   border-bottom: 5px solid red;
   width: 120px;
   margin-left: 270px;
}
.frame-image{
   height: 600px;
   width: 600px;
}

.third-section{
   background: url('../Assets/Rectangle\ 110.png');
   background-position: center;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
}

 .first-image{
   margin-bottom: 15px;
 }

 .second-image{
   margin-top: 25px;
 }

 .offer{
   margin-top: 10px;
   margin-left: 1000px;
   margin-right: 20px;
   // width: 40vh;
   // float: right;
   // border-bottom: 8px solid red;
   
 }
 .bn{
   border-bottom: 8px solid red;
 }

 .development{
   // float: right;
   margin-left: 250px;
 }